.about {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  text-align: left;
}

.bannerAbout {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about h1 {
  margin-left: 3rem;
}
.story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 0 3rem 2rem 3rem;
  gap: 2rem;
}

.story p {
  opacity: 0.8;
  line-height: 1.8;
}

@media (max-width: 430px) {
  .about {
    height: auto;
    text-align: center;
  }

  .bannerAbout {
    height: 24rem;
    background-size: cover;
  }

  .about h1 {
    margin-left: 0rem;
  }
  .story {
    grid-template-columns: 1fr;
    gap: 0rem;
  }
} ;
