.homePage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  max-width: 1440px;
}

.wrapper h1 {
  font-size: 2rem;
  color: rgb(50, 52, 52);
  letter-spacing: 0.1rem;
}

.rightSide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -9rem left 0;
}
.wrapper p {
  color: rgb(50, 52, 52);
  line-height: 1.8;
  font-weight: 500;
  opacity: 0.8;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(247, 225, 225);
  text-align: left;
  padding: 0 7rem;
}

.leftSide button {
  background-color: transparent;
  border: 1px solid rgb(153, 52, 52);
  color: indianred;
  padding: 0.7rem 2rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.leftSide button:hover {
  cursor: pointer;
  background-color: indianred;
  color: white;
  border: none;
}

@media (max-width: 430px) {
  .wrapper {
    grid-template-columns: 1fr;
    height: auto;
  }

  .wrapper h1 {
    font-size: 1.5rem;
  }
  .rightSide {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: top -5rem left 0;
  }

  .leftSide {
    padding: 2rem;
    text-align: center;
    align-items: center;
  }
}
